*{
  text-decoration: none;
  color: red;
  font-family:Arial, Helvetica, sans-serif;
}
nav{
  height: 100px;
  text-align: center;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 25px;
  font-weight: bolder;
}
#flexx{
  width: 250px;
  display: flex;
  justify-content: space-between;
}
h1{
  text-align: center;
}
